#logout {
  display: none;
}

#setting, #login, #logout {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

body {
  height: 100vh;
  background-image: url(../img/imageedit_4_4908333100.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}