#logout {
  display: none;
}

#setting, #login, #logout {
  display: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

body {
  height: 100vh;
  background-image: url(../img/dust_scratches.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn-group .active {
  background-color: #007bff !important;
  border-color: #007bff !important;
}