header {
  background-color: #626CD5;
  box-shadow: 0 4px lightgray;
  height: 50px;
}

*.nav-link {
  height:30px;
  background: darkmagenta;
  padding: 5px;
  margin: 5px 5px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}