html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

header {
  background-color: #626CD5;
  box-shadow: 0 4px lightgray;
  height: 50px;
}

*.nav-link {
  height:30px;
  background: darkmagenta;
  padding: 5px;
  margin: 5px 5px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  margin:4% auto;
  width: 50%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
}

#textinput-container {
  display: flex;
  width: 100%;
  /* border: 1px solid black; */
}

.textinput-child {
  padding: 20px;
  margin: auto;
  flex-grow: 1.5;
  /* border: 1px solid black; */
}

#household-container {
  display: flex;
  flex-direction: row;
  margin:auto;
  width:94%;
  margin-top: 5%;
  /* border: 1px solid black; */
}

.household-slider {
  margin:auto;
  width:50%;
  flex-grow:2;
  /* border: 1px solid black; */


}

.household-childcount {
  margin:auto;
  width:25%;
  flex-shrink: 0.5;
  /* border: 1px solid black; */


}

.misc-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  width:50%;
  justify-content: space-between;
  /* border: 1px solid black; */

}

.form-check-inline {
  display: inline-flex;
  flex-direction: row;
  padding: 2px;
  margin: auto;
  /* border: 1px solid black; */
}

.submitinput {
  margin:auto;
  width: 20%;
  /* border: 1px solid black; */
}

.referenceSheet {
  width:70%;
  height:100%;
    /* border: 1px solid black; */

}

.outputmain {
  height:100%;
  display: flex;
    /* border: 1px solid black; */

}

.outputactions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  margin: auto;
    /* border: 1px solid black; */

}

.outputactions-child {
  justify-content: space-between;
  height: 40%;
  margin: auto;
    /* border: 1px solid black; */

  }