#inputHead {
  display: flex;
  width: 70%;
  margin: 7% auto 0 auto;
}

#setForm {
  display: flex;
  width: 70%;
  margin: auto;
}

#tableContainer {
  overflow-y: auto;
  height: 60vh;
}

#tableContainer th {
  position: sticky;
  top: 0;
}