#tableContainer {
  overflow-y: auto;
  height: 60vh;
}

#tableContainer th {
  position: sticky;
  top: 0;
}

body {
  height: 100vh;
  background-image: url(../img/dust_scratches.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.delete-button:hover {
  color: red !important;
}