<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/form.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="nav justify-content-end">
      <a class="nav-link active" href="#home">Home</a>
      <a class="nav-link" href="#logout">Logout</a>
    </nav>
  </header>

  <main>
    <form action="" method="post">
      <div class="container">
        <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name" required>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <label for="postalCode">Postal Code</label>
            <input type="text" class="form-control" name="postalCode" id="postalCode" placeholder="VXX XXX" required>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12 col-md-9">
            <label for="familySize">Household Size</label>
            <input type="range" class="custom-range" value="3" name="familySize" data-highlight="true" id="familySize" min="1" max="9" data-show-value="true">
          </div>
          <div class="form-group col-sm-12 col-md-3">
            <label for="children">Number of Children</label>
            <input type="number" class="form-control" value="0" name="childrenNo" id="children" min="0" max="9" data-show-value="true">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-sm-12 col-md-6">
            <div>Are you currently taking any medication?</div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="medication" id="medicationYes" value="yes">
              <label class="form-check-label" for="medicationYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="medication" id="medicationNo" value="no" checked>
              <label class="form-check-label" for="medicationNo">No</label>
            </div>
          </div>

          <div class="form-group col-sm-12 col-md-6">
            <div>Are you experiencing any mobility issues?</div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="mobility" id="mobilityYes" value="yes">
              <label class="form-check-label" for="mobilityYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" class="form-check-input" name="mobility" id="mobilityNo" value="no" checked>
              <label class="form-check-label" for="mobilityNo">No</label>
            </div>
          </div>
        </div>
        
        <div class="text-right">
          <input type="button" value="Submit" id="submit" class="btn btn-primary">
        </div>
      </div>
    </form>
  </main>

  <script src="../js/form.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>