<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="UTF-8">
		<link rel="stylesheet" href="../css/warning.css">
  </head>
  <body>
        <!--Layout for warning dialog-->
		<div class="warningMessage">
			<div class="warningContainer">
				<h1>Would you like to recieve notifications?</h1>
				<h2>Notifications can:</h2>
				<p>Notify you when you need to update your emergency survival kit</p>
				<p>Notify you on possible actions to take during a disaster</p>
			</div>
			<div class=buttonContainer>
				<button type="button" id="buttonNo">No</button>
				<button typ="button" id="buttonYes">Yes</button>
			</div>
		</div>
    
        <!--Script for Jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <!--Script for buttons-->
		<script>
			$(document).ready(function() {
				$(".warningMessage").mouseover(function(){
					$(".warningMessage").css("borderColor", "red")
					
					$(".warningMessage").mouseout(function(){
						$(".warningMessage").css("borderColor", "black")
					})
				})
				$("#buttonNo").click(function(){
					$(".warningMessage").fadeOut(1000, function(){
					   window.location.href = "../views/reference_sheet.html";
					})
				})
              
               $("#buttonYes").click(function(){
					$(".warningMessage").fadeOut(1000, function(){
					   window.location.href = "../views/reference_sheet.html";
					})
				})
			});
		</script>
  </body>
</html>