<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/settings.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script src="../js/secret.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  </head>
  <body>
    <header>
      <nav class="nav justify-content-end">
        <a id="buttonHome" class="nav-link active" href="#">Home</a>
        <a class="nav-link" id="setting" href="#">Setting</a>
        <a class="nav-link" id="login" href="#">Login</a>
        <a class="nav-link" id="logout" href="#">Logout</a>
      </nav>
    </header>
    <div id="inputHead">
      <div id="itemNameHead" class="col1">Item Name</div>
      <div id="itemTypeHead" class="col2">Item Type</div>
      <div id="dateAddedHead" class="col3">Date Added</div>
      <div id="expireDateHead" class="col4">Expiry Date</div>
      <div id="empty" class="col5"></div>
    </div>

    <div id="setForm">
      <div class="col1"><input type="text" name="itemName" placeholder="Enter Item Name" id="itemName"></div>
      <div class="col2">
          <select name="type" id="itemType">
              <option value="Nutrition">Nutrition</option>
              <option value="Medicine">Medicine</option>
          </select>
      </div>            
      <div class="col3"><input type="date" name="dateAdded" id="dateAdded"></div> 
      <div class="col4"><input type="date" name="expireDate" id="expireDate"></div> 
      <div id="submit" class="col5"><input type="submit" value="Add Item" onclick="addItem()"></div> 
    </div>

    <div id="tableContainer">
      <div id="tableTitle">---------------------------------------- <em>Active Reminders</em> ---------------------------------------- </div>
      <div id="mainTable">
      </div>

    </div>

    <div id="loginDialogContainer">
      <div id="loginDialog">
        <h4 class="text-center mb-4">Login</h4>
        <div id="firebaseui-auth-container"></div>
        <div id="loader">Loading...</div>
        <div class="text-center mt-4">
          <button class="btn btn-secondary" id="closeLoginDialog">Close</button>
        </div>
      </div>
    </div>

      <!-- <div id="toggleContainer">
        <p>Notifications</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div> -->
    
    <script src="../js/settings.js"></script>
    <script>

    var table = $("<table>").appendTo("#mainTable").addClass("table");
    var tbody = table.append("<tbody></tbody>");
    
    function addItem() {
      var itemName = document.getElementById("itemName").value;
      var itemType = document.getElementById("itemType").value;
      var dateAdded = document.getElementById("dateAdded").value;
      var expireDate = document.getElementById("expireDate").value;

      var i1 = $("<td></td>").html(itemName).addClass("col1");
      var i2 = $("<td></td>").html(itemType).addClass("col2");
      var i3 = $("<td></td>").html(dateAdded).addClass("col3");
      var i4 = $("<td></td>").html(expireDate).addClass("col4");
      var i5 = $("<button></button>").attr('id', 'remove').text("Delete").addClass("col5");
      
      $(tbody).append("<tr>",i1,i2,i3,i4,i5,"</tr>");

    };

    $('#remove').click(function() {
        var id = $(this).attr('id');
        id.remove();
    });
    
    // $(function() { 
    //   $('#remove').on('click',function() {
    //     var id = $(this).attr('id');
    //     id.remove();
    //   });
    // });



    </script>
    
  </body>

</html>