<!DOCTYPE>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/settings.css">
  </head>
  <body>
    <header>
      <nav class="nav justify-content-end">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" id="setting" href="#">Setting</a>
        <a class="nav-link" id="login" href="#">Login</a>
        <a class="nav-link" id="logout" href="#">Logout</a>
      </nav>
    </header>
    <div id="settings">
      <div id="notificationContainer">
        <form>
          <input type="text" placeholder="Medication">
          <input type="text" placeholder="date">
          <input type="submit" value="Edit">
        </form>
      </div>
      <div id="toggleContainer">
        <p>Notifications</p>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    
  </body>

</html>